
.nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;


    .navBar{
        position: fixed;
        top:0;
        left: 0;
        z-index: 2;
        display: flex;
        width: 100vw;
        height: 10vh;
        background-color: black;
        justify-content: center;
        
        
        @media(min-width:768px){
            align-items: center;
            position:fixed;
            
            
        }
        .btnMint{
            
            color: $dMint;
        }
        .container{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
            @media(min-width:768px){
                width: 100vw;
                margin: 0 0;
                padding: 0 0;
            }

            svg{
                fill: $dMint;
            }
            .btn-close{
                background-color: $dMint;
                border: none;
                filter: brightness(1.5);
                

            }
            .offcanvas-body{
                @media(min-width:768px){
                    justify-content: center;
                }

            

                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    
                    padding-top: 10px;

                    @media(min-width:768px){
                        flex-direction: row;
                        justify-content: flex-start;
                        gap: 4vw;
                        z-index: 2;
                        
                        
                        :hover{
                            color: $lViolet;
                            
                        }
                    }
                    @media(min-width:992px){
                        gap: 8vw;
                    }
                    

                    li{
                        
                        a{
                            // @include text(1rem, 400,normal,$white, normal)
                            // (size, weight, style, colour, letterspacing)
                            // }
                            @include text(1.5rem, 400, normal, $dMint, normal);
                            
                            
                            @media(min-width:768px){
                                
                                @include text(1.5rem, 600, normal , $dMint, normal);
                                
                            }
                        }
                    } 
                }
            }
            .languages{
                display: flex;
                align-self: flex-end;
                gap: 3px;

                // position: relative;
                // flex-direction: row;
                // justify-self: end;
                
                
            }
            .lang{
                // justify-self: end;
                background-color: $dMint;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                cursor: pointer;
                
                
                
            }
            .rotate :hover{
                rotate: 360deg;
                transition: 1s;
            }
        
        }
    }
}



    
